{
  "ecmaFeatures": {
    "arrowFunctions": true,
    "blockBindings": true,
    "classes": true,
    "defaultParams": true,
    "forOf": true,
    "modules": true,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true,
    "jsx": true
  },
  "rules": {
    "strict": [2, "global"],
    "quotes": [2, "double"],
    "no-var": 2
  }
}
